<h1>  Favorites Show Page </h1>


<ul>
    <% @favorites.each do |car| %>
        <li><%= car.make %></li><br>
        <li><%= car.model %></li><br>
        <hr>
    <% end %>
</ul>


<%= link_to 'Back to Profile', user_path(@user) %>