@import "rails_bootstrap_forms";

/* * {
    border: 1px solid black;
} */

/* Banner */
.jumbotron {
    text-align: center;
    padding: 2rem 2rem;
    background-color: #d3d3d3;
    font-family: 'Major Mono Display', monospace;
}

/* Signup Form */
.sign-up-form {
    background-color: #d3d3d3;
    max-width:50%;
    margin:2rem auto;
    border: 2px solid #0b090a;
    padding: 2rem;
}

.sign-up-form h1 { 
    color: #0b090a; padding: 10px; 
    text-align: center;
    font-family: 'Major Mono Display', monospace;
}

.sign-up-text {
    font-family: 'Big Shoulders Inline Display', cursive;
    font-size: 175%;
    color: #0b090a

}

.btn-secondary {
    border: none;
    padding: 1rem;
    color: #ffffff;
    background-color: #0b090a;
    margin: 1rem 0;
    font-size: 25px

}

.btn-secondary:hover {
    background-color: #ba181b;
    font-size: 25px ;
}

.already_have_an_account {
    font-family: 'Big Shoulders Inline Display', cursive;
}

a {
    color: #0b090a;
}

a:hover {
    text-decoration: none;
    transition: .5s;
    color: #e5383b;
    font-family: 'Major Mono Display', monospace;
}
/* Log in Form */

.log-in-form {
    background-color: #d3d3d3;
    max-width:50%;
    margin:2rem auto;
    border: 2px solid #0b090a;
    padding: 2rem;
}

.log-in-form h1 { 
    color: #0b090a; padding: 10px; 
    text-align: center;
    font-family: 'Major Mono Display', monospace;
}

.log-in-text {
    font-family: 'Big Shoulders Inline Display', cursive;
    font-size: 200%;
    color: #0b090a

}

.log_in_errors {
    color: #ba181b;
}

.dont_have_an_account {
    font-family: 'Big Shoulders Inline Display', cursive;
}

.dont_have_an_account_create_account_link {
    font-size: 150%;
}

.dont_have_an_account_return_home {
    font-family: 'Big Shoulders Inline Display', cursive;
    font-size: 125%;
}

.form-control {
    border: none;
}

.text_field_form {
    border-radius: 3px;
    font-size: 35px;
}

.text_field_form:hover {
    background-color: #edf2fb;
    border-style: outset;
    border-color: #e5383b;
    border-radius: 20px;
    border-width: 3px;
    transition: .2s;
}

.text_field_form:focus {
    background-color: #edf2fb;
    border-style: outset;
    border-color: #e5383b;
    border-radius: 10px;
    border-width: 3px;
}

/* Profile Page */

.parent_profile_page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
    
.parent_profile_page .banner { 
    grid-area: 1 / 1 / 3 / 13; 
    
}

.parent_profile_page .navbar { 
    grid-area: 3 / 1 / 4 / 13; 
    background-color: #d3d3d3;
    color: #0b090a;
    font-family: 'Big Shoulders Inline Display', cursive;
    font-size: 175%;
    background-color: #d3d3d3;
}

.parent_profile_page .navbar h3 {
    font-family: 'Major Mono Display', monospace;
    color: #ba181b;
}

.parent_profile_page .username { 
    grid-area: 4 / 1 / 5 / 5; 
}

.parent_profile_page .username h4 {
    font-family: 'Major Mono Display', monospace;
}
.parent_profile_page .username span {
    font-family: 'Major Mono Display', monospace;
}

.parent_profile_page .avatar { 
    grid-area: 5 / 1 / 9 / 5; 
}

.parent_profile_page .avatar img {
    border-style: inset;
    border-width: 8px;
    border-color: #161a1d;
}

.parent_profile_page .three_reviews { 
    grid-area: 4 / 5 / 9 / 13;
}

.parent_profile_page .three_reviews h4 {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
}

.parent_profile_page .three_reviews img { 
    width: 100%;
    height: 100px;
    object-fit: contain;
    border-style: inset;
    border-width: 8px;
    border-color: #161a1d;
}

.parent_profile_page .three_reviews .text-center {
    margin-bottom: 20px;
    border-style: inset;
    border-width: 3px;
    border-color: #161a1d;
}

.parent_profile_page .three_reviews .card h2 {
    text-align: center;
    font-family: 'Jura', sans-serif;
    border-style: inset;
    border-width: 3px;
    border-color: #161a1d;
}

.parent_profile_page .three_reviews h4 {
    border-style: inset;
    border-width: 3px;
    border-color: #161a1d;
    background-color: #f5f3f4;
}

.div6 { 
    grid-area: 9 / 1 / 12 / 13; 
}
.div7 { 
    grid-area: 12 / 1 / 13 / 13; 
}

/* Home Page */
.testimonials .card-deck .card .card-img-top{
    width: 75%;
    height: 48%;
    border: 1px solid #660708;
    border-style: outset;
    border-width: 10px;
    padding: .1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.testimonials .card-deck .card {
    border: 10px solid #660708;
    padding: .2rem;

}

.highest-rated .card-deck .card .card-img-bot{
    border: 10px solid #070606;
    border-style: inset;
    padding: .1rem;
    height: 70%; 
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-color: red;
    border-top: 1rem solid;

}

.highest-rated .card-deck .card .card-texts{
    color:royalblue;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.manufacturers {
    padding: 1rem;
    background: radial-gradient(circle, black, white);
 
}
.manufacturers .car{
    background: radial-gradient(circle, black, white);
    
}

.make-carousel .carousel .carousel-item {
    height: 600px;
    overflow:hidden
  }

  .make-carousel .carousel-item img {

    height: 500px;
    width: 300px;
    margin:0% 0%;
   
   
}

.models {
    padding: 1  rem;
    background: radial-gradient(circle, black, white);
 
}
.models .car{
    
}

.fav-list{
    background: radial-gradient(circle, black, white);

}

.achievement-page{
    background: radial-gradient(circle, rgba(0, 0, 0, 0.651), white);
    font-family: 'Big Shoulders Inline Display', cursive;

}
.achievement-page .ach-avatar{
    border-style: inset;
    border-width: 5.5px;
    border-color: #161a1d;
    float: left;
}

